.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

svg {
  fill: currentColor;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus {
  color: #2196F3;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
}

.logo--header {
  color: #000;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.is-hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  position: absolute;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button, .button--footer {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: #fff;
  background-color: #2196F3;
  border: none;
  cursor: pointer;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  font-size: 0px;
}

.social-media li + li {
  margin-left: 10px;
}

.social-media__link, .social-media__link--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link--footer:hover, .social-media__link:focus, .social-media__link--footer:focus {
  background-color: #2196F3;
  color: #fff;
}

.social-media__icon {
  width: 20px;
  height: 20px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list, .contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link, .contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.navigation__link.active::after, .active.contact__link::after {
  display: block;
  position: absolute;
  background-color: #2196F3;
  content: "";
  height: 4px;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.contact__list {
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 30px;
}

.contact__link {
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.hero {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bakground.jpg);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bakground.jpg);
  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 1600px;
  }
}

.hero__content {
  text-align: center;
}

.hero__title {
  max-width: 360px;
  font-size: calc(12px + 2.8vw);
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0px auto 30px auto;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.modal__overlay {
  padding: 0 15px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
}

.modal__form {
  padding: 40px;
  position: relative;
  width: 100%;
  max-width: 450px;
  opacity: 1;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal__form {
    max-width: 528px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.modal__icon {
  width: 18px;
  height: 18px;
  color: #212121;
  position: absolute;
  top: 29px;
  left: 12px;
}

.modal__label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: left;
}

.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal__input, .modal__comment {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 500ms cubic-bezier(0.4, 0, 0.2, 1), border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover, .modal__comment:hover, .modal__input:focus, .modal__comment:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.modal__input:hover + .modal__icon, .modal__comment:hover + .modal__icon,
.modal__input:focus + .modal__icon,
.modal__comment:focus + .modal__icon {
  color: #2196F3;
}

.modal__comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  /* color: rgba(117, 117, 117, 0.5); */
  color: #757575;
}

.modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.icon__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  -webkit-transition: border;
  transition: border;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon__close svg {
  width: 11px;
  height: 11px;
}

.icon__close:hover {
  color: #2196F3;
}

.agreement {
  line-height: 1.71;
  font-size: 14px;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.agreement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.agreement__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.agreement__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.agreement__checkbox:checked + .agreement__icon {
  border: 2px solid #2196F3;
  background-image: url("../images/svg/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.agreement__text {
  color: #2196F3;
  text-decoration: underline;
}

.advantages__section-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__content {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .advantages__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1199px) {
  .advantages.section {
    padding-bottom: 0px;
  }
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F4FA;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.advantages__icon svg {
  height: 70px;
  width: 70px;
}

.activity {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__set img {
  display: block;
}

.activity__set li + li {
  margin-left: 30px;
}

.activity__card {
  position: relative;
  overflow: hidden;
}

.activity__card-text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  text-align: center;
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .team__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.member-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .member-card:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

.member-card img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .member-card {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .member-card {
    width: calc((100% - 2 * 30px) / 2);
  }
}

.member-card__content {
  padding: 30px 0px;
}

.member-card__title,
.member-card__position {
  font-size: 14px;
  line-height: 1.2;
}

.member-card__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.member-card__position {
  color: #757575;
}

.clients__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .clients__set {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -15px;
  }
}

.clients__item {
  width: calc((100% - 30px * 2) / 2);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (max-width: 1199px) {
  .clients__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1199px) {
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  height: 92px;
  border: 1px solid #AFB1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link svg {
  width: 106px;
  height: 60px;
}

.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
  display: inline-block;
}

.logo--footer {
  color: #fff;
}

.footer__contact,
.footer__address {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer__contact {
  margin-top: 10px;
}

.footer__address {
  color: #fff;
}

.footer__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.studio-social-media {
  padding-top: 12px;
}

@media screen and (max-width: 767px) {
  .studio-social-media {
    margin: 60px 0 0 0;
  }
}

@media screen and (min-width: 1199px) {
  .studio-social-media {
    margin-left: 70px;
  }
}

.studio-social-media p {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.social-media__link--footer {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.social-media__link--footer:hover {
  background: #2196F3;
}

.subscribe {
  padding-top: 12px;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    margin: 60px 0 0 0;
  }
}

@media screen and (min-width: 1199px) {
  .subscribe {
    margin-left: 85px;
  }
}

.subscribe__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.subscribe__field {
  margin-top: 20px;
}

@media screen and (min-width: 1199px) {
  .subscribe__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe__input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__input:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.button--footer {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .button--footer {
    margin-top: 20px;
  }
}

.button--footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button__portfolio-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56px;
}

.button-portfolio {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: normal;
}

.button-portfolio:hover, .button-portfolio:focus,
.radio:checked + .button-portfolio {
  color: #fff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__portfolio-set li:not(:last-child) {
  margin-right: 8px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.portfolio__filter-elem {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-card:hover .portfolio__filter-elem,
.portfolio-card a:focus .portfolio__filter-elem {
  color: #2196F3;
}

.portfolio-card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.portfolio-card {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 15px;
}

.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card img {
  display: block;
}

.portfolio-card-conten {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0px;
}

.card__thumb {
  overflow: hidden;
  position: relative;
}

.card__overlay {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio-card:hover .card__overlay,
.portfolio-card a:focus .card__overlay {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */